main{
    width: 1090px;
    height: 450px;
    border: 1px solid rgb(255,165,0);
    margin-top: 120px;
    margin-left: 210px;
}
.info{
    width: 1090px;
    height: 200px;
    margin-bottom: 0px;
    background-image: url(../image/fundo.jpg);
    background-size: cover;
    background-position: center;
}
.foto_perfil{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
    margin-top: -50px;
    margin-left: 50px;
    background-image: url(../image/icon);
    background-size: fill;
    background-position: center;
}
.nome_perfil{
    color: white;
    margin-top: 20px;
    margin-left: 50px;
}
h4{
    margin-top: -15px;
    color: bisque;
}
.bio{
    margin: -5px 50px;
}